footer{
    margin-top: 80px;
    margin-bottom: 0;
    padding: 20px 0 0 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img{
    width: 30px;
}

footer .text-center{
    background-color: rgba(0, 0, 0, 0.2);
}

footer .enlaces{
    background-color: rgba(211, 210, 210, 0.644);
}

footer .enlaces:hover{
    background-color: white;
}