<app-nav-bar></app-nav-bar>

<div class="container mt-5">

    <div class="card mb-5">
        <div class="card-header">
            <h5>NOMBRE</h5>
        </div>
        <div class="card-body" >
            <h4> {{nom}} </h4>
        </div>
      </div>
    
      <div class="card mb-5">
        <div class="card-header">
          <h5>APELLIDO</h5>
        </div>
        <div class="card-body">
          <h4> {{apellido}} </h4>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-header">
            <h5>EMAIL</h5>
        </div>
        <div class="card-body">
            <h4> {{email}} </h4>
        </div>
      </div>
    
      <div class="card mb-5">
        <div class="card-header">
          <h5>NUMERO DE TELEFONO</h5>
        </div>
        <div class="card-body">
          <h4> {{telefono}} </h4>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-header">
            <h5>CIUDAD</h5>
        </div>
        <div class="card-body">
            <h4> {{ciudad}} </h4>
        </div>
      </div>
    
      <div class="card mb-5">
        <div class="card-header">
          <h5>PAIS</h5>
        </div>
        <div class="card-body">
          <h4> {{pais}} </h4>
        </div>
      </div>   
</div>